{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>PSGCAS CDC Companies</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-digimedia-v3.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
   
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/psg/psgcas.png' %}" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'index'%}">Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'index'%}#about">About </a></li>
                            <li class="scroll-to-section"><a href="{% url 'index'%}#services">Vision & Mission</a></li>
                            <li class="scroll-to-section"><a href="{% url 'p_process' %}">Process</a></li>
                            <li class="scroll-to-section"><a href="{% url 'infrastructure' %}">Infrastructure</a></li>
                            <li class="scroll-to-section"><a href="{% url 'contact' %}">Contact</a></li> 
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h2>Top Recruiters of PSG</h2>
                                        <h4>Unlock your potential with our top hiring companies.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static 'images/comp1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Companies Section-->
    <div id="companies" class="companies section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                            data-wow-delay="0.5s">
                            <div class="infra-right-content">
                                <div class="section-heading">
                                    <h4>Our Corporate Partners of IT Streams</h4>
                                    <h5>Career Development Center - Placement Center</h5>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of Companies -->
  <div id="companies" class="companies section">
    <div class="container">
        <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-lg-12">
                <div class="row m-4"> 
                    <div class="column d-grid align-items-center justify-content-center" >
                        <img src="{% static 'images/companies/IT/caterpillar.png' %}">
                        <img src="{% static 'images/companies/IT/infosys.png' %}">
                        <img src="{% static 'images/companies/IT/VALUEMOMENTUM.png' %}">
                        <img src="{% static 'images/companies/IT/Mastech_Digital_Logo.jpg' %}">
                        <img src="{% static 'images/companies/IT/clouddestination.jpg' %}">
                        <img src="{% static 'images/companies/IT/qualitest.png' %}">
                        <img src="{% static 'images/companies/IT/codingmart.png' %}">
                        <img src="{% static 'images/companies/IT/Aloha-Technology-Pvt.-Ltd..png' %}">
                        <img src="{% static 'images/companies/IT/intellect.png' %}">
                        <img src="{% static 'images/companies/IT/cg-vak.png' %}">
                    </div> 
                    <div class="column d-grid align-items-center justify-content-center">
                        <img src="{% static '' %}images/companies/IT/Zoho-logo.png">
                        <img src="{% static '' %}images/companies/IT/hexaware.png">
                        <img src="{% static '' %}images/companies/IT/cognizant.png">
                        <img src="{% static '' %}images/companies/IT/brillio.png">
                        <img src="{% static '' %}images/companies/IT/avasoft.png">
                        <img src="{% static '' %}images/companies/IT/fr8.png">
                        <img src="{% static '' %}images/companies/IT/Thoughtworks_logo.png">
                        <img src="{% static '' %}images/companies/IT/finzly.png">
                        <img src="{% static '' %}images/companies/IT/optisol.png">

                    </div>  
                    <div class="column d-grid align-items-center justify-content-center">
                        <img src="{% static '' %}images/companies/IT/vuram.png">
                        <img src="{% static '' %}images/companies/IT/kovaico.png">
                        <img src="{% static '' %}images/companies/IT/kyrologo.png">
                        <img src="{% static '' %}images/companies/IT/accenture.png">
                        <img src="{% static '' %}images/companies/IT/CGI_logo.png">
                        <img src="{% static '' %}images/companies/IT/appranix.png">
                        <img src="{% static '' %}images/companies/IT/INNOCAP.png">
                        <img src="{% static '' %}images/companies/IT/calibraint.png">
                        <img src="{% static '' %}images/companies/IT/engro.png">
                        <img src="{% static '' %}images/companies/IT/e2.png">
                    </div>  
                    <div class="column d-grid align-items-center justify-content-center">
                        <img src="{% static '' %}images/companies/IT/tcs.png">
                        <img src="{% static '' %}images/companies/IT/wipro.png">
                        <img src="{% static '' %}images/companies/IT/payoda.png">
                        <img src="{% static '' %}images/companies/IT/kanini.png">
                        <img src="{% static '' %}images/companies/IT/Schneider_Electric.png">
                        <img src="{% static '' %}images/companies/IT/rxds-dark-logo.png">
                        <img src="{% static '' %}images/companies/IT/kovaion.jpg">
                        <img src="{% static '' %}images/companies/IT/rently.png">
                        <img src="{% static '' %}images/companies/IT/mindtree.png">
                        <img src="{% static '' %}images/companies/IT/securekloud.png">
                    </div>  
 
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
<!--Companies Section-->
<div id="companies" class="companies section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="infra-right-content">
                            <div class="section-heading">
                                <h4>Our Corporate Partners of Commerce Streams</h4>
                                <h5>Career Development Center - Placement Center</h5>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List of Companies -->
<div id="companies" class="companies section">
<div class="container">
    <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="col-lg-12">
            <div class="row m-4"> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Commerce/Federal-Bank.png">
                    <img src="{% static '' %}images/companies/Commerce/tmb_logo.png">
                    <img src="{% static '' %}images/companies/Commerce/natwest.png">
                    <img src="{% static '' %}images/companies/Commerce/Deloitte_Logo.png">
                    <img src="{% static '' %}images/companies/Commerce/societe-generale-logo.png">
                    <img src="{% static '' %}images/companies/Commerce/wemakescholars.png">
                    <img src="{% static '' %}images/companies/Commerce/erproots.png">
                    <img src="{% static '' %}images/companies/Commerce/kaar.png">
                    <img src="{% static '' %}images/companies/Commerce/diageo.png">
                </div> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Commerce/ANZ-Logo.png">
                    <img src="{% static '' %}images/companies/Commerce/hdfc.png">
                    <img src="{% static '' %}images/companies/Commerce/deltax.png">
                    <img src="{% static '' %}images/companies/Commerce/shopup.png">
                    <img src="{% static '' %}images/companies/Commerce/withum.jpg">
                    <img src="{% static '' %}images/companies/Commerce/EY_logopng.png">
                    <img src="{% static '' %}images/companies/Commerce/lseg.jpg">
                    <img src="{% static '' %}images/companies/Commerce/everstage.svg">
                    <img src="{% static '' %}images/companies/Commerce/target.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Commerce/sib.png">
                    <img src="{% static '' %}images/companies/Commerce/assetplus.png">
                    <img src="{% static '' %}images/companies/Commerce/sshs.jpg">
                    <img src="{% static '' %}images/companies/Commerce/walkaroo.png">
                    <img src="{% static '' %}images/companies/Commerce/grant-thronton.png">
                    <img src="{% static '' %}images/companies/Commerce/logo-bnp.svg">
                    <img src="{% static '' %}images/companies/Commerce/ford.png">
                    <img src="{% static '' %}images/companies/Commerce/empower.jpg">
                    <img src="{% static '' %}images/companies/Commerce/godrej.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Commerce/cub.png">
                    <img src="{% static '' %}images/companies/Commerce/kpmg.png">
                    <img src="{% static '' %}images/companies/Commerce/pwc.png">
                    <img src="{% static '' %}images/companies/Commerce/goldman_sachs.png">
                    <img src="{% static '' %}images/companies/Commerce/landt.png">
                    <img src="{% static '' %}images/companies/Commerce/grampro.png">
                    <img src="{% static '' %}images/companies/Commerce/sanmar.jpg">
                    <img src="{% static '' %}images/companies/Commerce/wipro.png">
                    <img src="{% static '' %}images/companies/Commerce/sapiens.png">
                </div>  

              </div>
              
            </div>
        </div>
    </div>
</div>
<!--Companies Section-->
<div id="companies" class="companies section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="infra-right-content">
                            <div class="section-heading">
                                <h4>Our Corporate Partners of Maths Statistics and Economics Streams</h4>
                                <h5>Career Development Center - Placement Center</h5>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List of Companies -->
<div id="companies" class="companies section">
<div class="container">
    <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="col-lg-12">
            <div class="row m-4"> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/math.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/ford.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/tigeranalytics.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/Deloitte_Logo.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/fractal.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/Federal-Bank.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/hdfc.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/accenture.png">
                </div> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/sagasit.jpg">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/Novo_Nordisk_-_Logo.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/guvi.webp">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/nelseniq.jpg">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/deltax.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/sib.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/tcs.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/Schneider_Electric.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/sshs.jpg">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/zs.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/course5i.jpg">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/cub.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/craftsman.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/clinchoice_Logo.jpg">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/SRI.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/Clarivate_Logo.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/titan.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/swym.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/akashbyjus.png">
                    <img src="{% static '' %}images/companies/Maths Stat Eco/cognizant.png">
                </div>  

              </div>
              
            </div>
        </div>
    </div>
</div>
<!--Companies Section-->
<div id="companies" class="companies section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="infra-right-content">
                            <div class="section-heading">
                                <h4>Our Corporate Partners of Life Science Streams</h4>
                                <h5>Career Development Center - Placement Center</h5>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List of Companies -->
<div id="companies" class="companies section">
<div class="container">
    <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="col-lg-12">
            <div class="row m-4"> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Life Science/Zifo-Logo.png">
                    <img src="{% static '' %}images/companies/Life Science/avantor.png">
                    <img src="{% static '' %}images/companies/Life Science/himalaya.png">
                    <img src="{% static '' %}images/companies/Life Science/biopharma.png">
                    <img src="{% static '' %}images/companies/Life Science/omega.png">
                    <img src="{% static '' %}images/companies/Life Science/madraspharma.png">


                </div> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Life Science/syngene.jpg">
                    <img src="{% static '' %}images/companies/Life Science/indegene.png">
                    <img src="{% static '' %}images/companies/Life Science/4baseCare_Logo.png">
                    <img src="{% static '' %}images/companies/Life Science/caplin.jpg">
                    <img src="{% static '' %}images/companies/Life Science/amura.png">
                    <img src="{% static '' %}images/companies/Life Science/Clarivate_Logo.png">

                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Life Science/cotiviti.jpg">
                    <img src="{% static '' %}images/companies/Life Science/yourdost.png">
                    <img src="{% static '' %}images/companies/Life Science/vmarsh.png">
                    <img src="{% static '' %}images/companies/Life Science/strides.png">
                    <img src="{% static '' %}images/companies/Life Science/Healthwatch_logo.png">
                    <img src="{% static '' %}images/companies/Life Science/og_healthcare.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Life Science/episource.jpg">
                    <img src="{% static '' %}images/companies/Life Science/nestle.png">
                    <img src="{% static '' %}images/companies/Life Science/straive.png">
                    <img src="{% static '' %}images/companies/Life Science/biolinelab.png">
                    <img src="{% static '' %}images/companies/Life Science/ramco.png">
                    <img src="{% static '' %}images/companies/Life Science/akashbyjus.jpg">
                    <img src="{% static '' %}images/companies/Life Science/asian-paints-vector-logo.png">

                </div>  

              </div>
              
            </div>
        </div>
    </div>
</div>
<!--Electronics and Physics-->
<div id="companies" class="companies section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="infra-right-content">
                            <div class="section-heading">
                                <h4>Our Corporate Partners of Electronics and Physics Streams</h4>
                                <h5>Career Development Center - Placement Center</h5>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List of Companies -->
<div id="companies" class="companies section">
<div class="container">
    <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="col-lg-12">
            <div class="row m-4"> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Elec Physics/Pricol_logo.png">
                    <img src="{% static '' %}images/companies/Elec Physics/procyon.png">
                    <img src="{% static '' %}images/companies/Elec Physics/titan.png">
                    <img src="{% static '' %}images/companies/Elec Physics/guvi.webp">
                    <img src="{% static '' %}images/companies/Elec Physics/caliber.jpg">
                    <img src="{% static '' %}images/companies/Elec Physics/GlobalFoundries_logo.svg.png">
                </div> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Elec Physics/unilogic.png">
                    <img src="{% static '' %}images/companies/Elec Physics/mindtree.png">
                    <img src="{% static '' %}images/companies/Elec Physics/techmahindra.png">
                    <img src="{% static '' %}images/companies/Elec Physics/ProdaptLogo.jpg">
                    <img src="{% static '' %}images/companies/Elec Physics/autofusa.png">
                    <img src="{% static '' %}images/companies/Elec Physics/Schneider_Electric.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Elec Physics/tcs.png">
                    <img src="{% static '' %}images/companies/Elec Physics/infosys.png">
                    <img src="{% static '' %}images/companies/Elec Physics/aspiresystems.png">
                    <img src="{% static '' %}images/companies/Elec Physics/landt.png">
                    <img src="{% static '' %}images/companies/Elec Physics/akashbyjus.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Elec Physics/tata elxsi.jpg">
                    <img src="{% static '' %}images/companies/Elec Physics/wipro.png">
                    <img src="{% static '' %}images/companies/Elec Physics/nelseniq.jpg">
                    <img src="{% static '' %}images/companies/Elec Physics/Openfive.jpg">
                    <img src="{% static '' %}images/companies/Elec Physics/cognizant.png">
                    <img src="{% static '' %}images/companies/Elec Physics/mrf.png">
                </div>  

              </div>
              
            </div>
        </div>
    </div>
</div>
<!--Fashion and Design-->
<div id="companies" class="companies section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="infra-right-content">
                            <div class="section-heading">
                                <h4>Our Corporate Partners of Fashion and Design Streams</h4>
                                <h5>Career Development Center - Placement Center</h5>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List of Companies -->
<div id="companies" class="companies section">
<div class="container">
    <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="col-lg-12">
            <div class="row m-4"> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/fashion/walkaroo.png">
                    <img src="{% static '' %}images/companies/fashion/reliance.png">
                </div> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/fashion/calvin_klein.png">
                    <img src="{% static '' %}images/companies/fashion/rush republic.jpg">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/fashion/acc.png">
                    <img src="{% static '' %}images/companies/fashion/arvind fashions.png">
                    <img src="{% static '' %}images/companies/fashion/cotton concepts.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/fashion/Coats_logo.png">
                    <img src="{% static '' %}images/companies/fashion/max.png">
                </div>  

              </div>
              
            </div>
        </div>
    </div>
</div>
<!--Human Resource-->
<div id="companies" class="companies section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="infra-right-content">
                            <div class="section-heading">
                                <h4>Our Corporate Partners of Human Resource</h4>
                                <h5>Career Development Center - Placement Center</h5>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List of Companies -->
<div id="companies" class="companies section">
<div class="container">
    <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="col-lg-12">
            <div class="row m-4"> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Human Resource/ramco.png">
                    <img src="{% static '' %}images/companies/Human Resource/kovaico.png">
                    <img src="{% static '' %}images/companies/Human Resource/emerald.png">
                    <img src="{% static '' %}images/companies/Human Resource/srinivasan_trust.png">
                    <img src="{% static '' %}images/companies/Human Resource/jay jay mills.png">


                </div> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Human Resource/lmw.png">
                    <img src="{% static '' %}images/companies/Human Resource/matasma.png">
                    <img src="{% static '' %}images/companies/Human Resource/sulochana.png">
                    <img src="{% static '' %}images/companies/Human Resource/cripumps.png">
                    <img src="{% static '' %}images/companies/Human Resource/saint_gobain.png">


                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Human Resource/itc.png">
                    <img src="{% static '' %}images/companies/Human Resource/montbleu.png">
                    <img src="{% static '' %}images/companies/Human Resource/Wiz-Favicon.png">
                    <img src="{% static '' %}images/companies/Human Resource/kovaico.png">

                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Human Resource/Bosch_logo.png">
                    <img src="{% static '' %}images/companies/Human Resource/delphi_tvs.png">
                    <img src="{% static '' %}images/companies/Human Resource/reliance.png">
                    <img src="{% static '' %}images/companies/Human Resource/l and t_valves.jpg">
                    <img src="{% static '' %}images/companies/Human Resource/Amazon-Logo.png">


                </div>  

              </div>
              
            </div>
        </div>
    </div>
</div>
<!--Human Resource-->
<div id="companies" class="companies section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="infra-right-content">
                            <div class="section-heading">
                                <h4>Our Corporate Partners of Visual Media</h4>
                                <h5>Career Development Center - Placement Center</h5>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- List of Companies -->
<div id="companies" class="companies section">
<div class="container">
    <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="col-lg-12">
            <div class="row m-4"> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Visual Media/suntv.jpg">
                    <img src="{% static '' %}images/companies/Visual Media/Saregama_logo.png">
                    <img src="{% static '' %}images/companies/Visual Media/website_learners.png">
                </div> 
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Visual Media/mckinsey.png">
                    <img src="{% static '' %}images/companies/Visual Media/viacom.png">
                    <img src="{% static '' %}images/companies/Visual Media/kalvi-logo.png">
                    <img src="{% static '' %}images/companies/Visual Media/radio_mirchi.png">
                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Visual Media/etv_bharat.png">
                    <img src="{% static '' %}images/companies/Visual Media/pepaa.png">
                    <img src="{% static '' %}images/companies/Visual Media/aplusr.png">

                </div>  
                <div class="column d-grid align-items-center justify-content-center">
                    <img src="{% static '' %}images/companies/Visual Media/polimer.jpg">
                    <img src="{% static '' %}images/companies/Visual Media/Cognizant.png">
                    <img src="{% static '' %}images/companies/Visual Media/indianexp.png">
                </div>  
              </div>
            </div>
        </div>
    </div>
</div>
    <!--Footer Section-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2023 R&D of PSGCAS CDC-Placement Center. All Rights Reserved. 
                        <br>Images by <a href="https://www.freepik.com/" target="_parent"
                            title="Freepik.com">Freepik</a>
                            <a target="_blank" href="https://source.unsplash.com/">Unsplash</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/23176be0ae.js" crossorigin="anonymous"></script>
    
    <!-- Scripts -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

