{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>PSGCAS BCC Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-digimedia-v3.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'images/psg/psgcas.png' %}" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About </a></li>
              <li class="scroll-to-section"><a href="#services">Vision & Mission</a></li>
              <li class="scroll-to-section"><a href="{% url 'p_process' %}">Process</a></li>
              <li class="scroll-to-section"><a href="{% url 'infrastructure' %}">Infrastructure</a></li>
              <li class="scroll-to-section"><a href="{% url 'contact' %}">Contact</a></li> 
              <li id="sign-btn" class="scroll-to-section"><div class="border-first-button"><a href="{% url 'registration' %}">Register Here <i class='bx bxs-plane-take-off bx-sm'></i> </a></div></li> 
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">

      <div class="row ml-5">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2>CAREER DEVELOPMENT CENTER</h2>
                    <h4>Opportunities don’t happen, you create them</h4>
                  </div>
                  <div class="col-lg-12 mt-4">
                    <div class="border-first-button scroll-to-section d-flex justify-content-center">
                      <a href="{% url 'registration' %}"> Register Here <i class='bx bxs-rocket'></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'images/home10.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row m-4">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'images/aboutus.png' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h4>About Us</h4>
                  <h5>Career Development Center</h5>
                  <div class="line-dec"></div>
                </div>
          <!--About Us Points-->
                  <div class="ticks-list m-4">
                    <p class="">The Career Development Centre of PSG College of Arts & Science works towards
                      helping the students to explore their professional interests and map them to different
                      career choices like higher education, competitive exams, entrepreneurship, and campus
                      placements.</p>
                      <p>It is involved in developing the competency levels of the students in order
                      to match their skills with those required by the industry.</p>

                     </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Vision & <em> <main>  Mission</main></em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'images/vision_icon1.svg' %}" alt=""></span>
                        Vision
                      </div>
                    </div>
                  <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'images/mission_icon.svg' %}" alt=""></span>
                        <!-- <span class="icon"><box-icon name='paper-plane' type='solid' animation='tada' color='#228cec' ></box-icon></span> -->
                        Mission
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Our Vision</h4>
                                <p>To empower students by providing them with the right resources to enhance their
                                  careers and ensure their professional success.
                                  </p>
                                  <a href="{% url 'cdc_function' %}" class="btn btn-primary">View More</a>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'images/vision_Success.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4> Our Mission</h4>
                                <p>
                                  Provide the right training in order to bridge the gap between a students’ skills and
                                  industry’s needs.
                                  Build relationships with top industry players in order to bring wider exposure for
                                  students.
                                  Equip students with the right networking options with industry experts and
                                  alumni.
                                  
                                </p>
                                <a href="{% url 'cdc_function' %}" class="btn btn-primary">View More</a>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'images/vision_img.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--IT Top companies-->
  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h4><em>Our Top Recruiters</em></h4>
            <h6>Look for More Branches- Click View More</h6>
            <div class="line-dec"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel owl-dots.disabled">
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/caterpillar.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/Zoho-logo.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <!--Dv added-->
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/infosys.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/vuram.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/wipro.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/INNOCAP.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/rently.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/finzly.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/Federal-Bank.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/Deloitte_Logo.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/sib.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/tmb_logo.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/kpmg.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/sshs.jpg' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/godrej.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/ANZ-Logo.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/cub.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/grant-thronton.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/landt.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/ford.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Commerce/goldman_sachs.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Maths Stat Eco/nelseniq.jpg' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Maths Stat Eco/math.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Maths Stat Eco/hdfc.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Maths Stat Eco/swym.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Maths Stat Eco/titan.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Maths Stat Eco/akashbyjus.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Life Science/Zifo-Logo.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Life Science/syngene.jpg' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Life Science/ramco.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Life Science/cotiviti.jpg' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Life Science/nestle.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Life Science/episource.jpg' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Elec Physics/aspiresystems.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Elec Physics/unilogic.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Elec Physics/Pricol_logo.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Elec Physics/techmahindra.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Elec Physics/Schneider_Electric.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/Elec Physics/cognizant.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <!--Dv added-->
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/tcs.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/accenture.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/Thoughtworks_logo.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/kanini.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/avasoft.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{% static 'images/companies/IT/brillio.png' %}" alt="">
                </div>
              </div>
              </a>  
            </div>
            <!--end div sec-->
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end me-4 mt-4">
      <a href="{% url 'companies' %}" class="btn btn-primary">View More</a>
    </div>
  </div>
<!--Commerce Top companies-->



  <!--footer-->
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2023 R&D of PSGCAS CDC-Placement Center. All Rights Reserved. 
          <br>Images by <a href="https://www.freepik.com/" target="_parent" title="Freepik.com">Freepik</a>
        </p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/animation.js' %}"></script>
  <script src="{% static 'js/imagesloaded.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>