{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Superlee : Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link href="{% static 'css/sortable.css' %}" rel="stylesheet" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/reg.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.5.3/css/autoFill.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row custom-nav">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo ml-3 mt-2" href="index.html"><img src="{% static 'images/psg/psgcas.png' %}" class="mr-4" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini ml-3" href="index.html"><img src="{% static 'images/psg/psg-75.png' %}" alt="logo"/></a>
      </div>
      <div class="col navbar-menu-wrapper d-flex align-items-center justify-content-start">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'images/faces/face28.jpg' %}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face3.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face4.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas pt-5" id="sidebar">
        <ul class="nav">
          <p class="sidebar-title text-center">Basic Information</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Personal Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'family_details'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Family Details</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Academic Section</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schoolings'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Schooling Section</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ug_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Under Graduate</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'pg_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Post Graduate</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Agreements & Others</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'workloc_agreement'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Agreements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mand_docs'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Upload Documents</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'other_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Others</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Review Details</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ack'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Acknowledgement</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'application_sts'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Application Status</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid main-panel" style="width: 100%;">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="d-flex justify-content-center mt-4">
              <img src="{% static 'images/CDC Logo.png' %}" alt="" style="height: 30vh; width: auto;">
            </div>
            <div class="row d-flex align-items-center justify-content-center mt-4">
              <h3>Student Registration for Placements</h3>
              
            </div>
            <div class="d-flex align-items-center justify-content-center mt-1">
              <h6 class="mb-4">Update your details here !.</h6>
            </div> -->
            <div class="row d-flex justify-content-center">
              <div class="col-md-7">
                <div class="contents">
                  <div class="row d-flex align-items-center justify-content-center">
                    <h3 class="mt-5 title">Post-Graduate Information</h3>
                  </div>
                  <div class="container form-container scroll-forms">
                      <div class="col-md-12 py-5">
                      <form method="post" class="forms" id="pg_forms">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="pg_hod">Department HOD's Name</label>
                                  <input type="text" class="form-control" placeholder="HOD's Name" id="pg_hod" name="pg_hod">
                                  <small></small>
                                </div>    
                          </div>
                          <div class="col-md-6">
                            <div class="form-group first">
                                <label for="pg_seed">Department SEED Coordinator's Name</label>
                                <input type="text" class="form-control" placeholder="SEED Coordinator's Name" id="pg_seed" name="pg_seed">
                                <small></small>
                            </div>    
                          </div>
                          <div class="col-md-6">
                            <div class="form-group first">
                                <label for="pg_hod_no">Department HOD's Number</label>
                                <input type="text" class="form-control" placeholder="HOD's Contact" id="pg_hod_no" name="pg_hod_no">
                                <small></small>
                              </div>    
                          </div>
                          <div class="col-md-6">
                            <div class="form-group first">
                                <label for="pg_seed_no">Department SEED Coordinator Number</label>
                                <input type="text" class="form-control" placeholder="SEED Coordinator's contact" id="pg_seed_no" name="pg_seed_no">
                                <small></small>
                              </div>    
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group first">
                                <label for="pg_hod_mail">Department HOD's Email ID (Official)</label>
                                <input type="text" class="form-control" placeholder="HOD's Email (Official)" id="pg_hod_mail" name="pg_hod_mail">
                                <small></small>
                              </div>    
                          </div>
                          <div class="col-md-6">
                            <div class="form-group first">
                                <label for="pg_seed_mail">Department SEED Coordinator Email ID (Official)</label>
                                <input type="text" class="form-control" placeholder="SEED Coordinator Email (Official)" id="pg_seed_mail" name="pg_seed_mail">
                                <small></small>
                              </div>    
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group first">
                                <label for="pg_percentage">Current Percentage(as per Marksheet)</label>
                                <input type="text" class="form-control" placeholder="Eg: 95" id="pg_percentage" name="pg_percentage">
                                <small></small>
                              </div>    
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group radiogrp">
                                  <label for="active_pg_arrears">Do you have any Current Arrears?</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="active_pg_arrears" id="active_pg_arrears_yes" value="Yes">
                                            Yes
                                          </label>
                                        </div>
                                      </div>
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="active_pg_arrears" id="active_pg_arrears_no" value="No">
                                            No
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <small class="radio-error"></small>
                              </div>
                          </div>
                          <div class="col-md-6" id="arrears_yes"style="display: none;">
                            <div class="form-group first">
                                <label for="active_pg_arrears_count">Current Arrears in numbers</label>
                                <input type="text" class="form-control" placeholder="Eg. 1" id="active_pg_arrears_count" name="active_pg_arrears_count">
                                <small></small>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group radiogrp">
                                  <label for="pg_arrears">Do you have any History of Arrears?</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="pg_arrears" id="pg_arrears_yes" value="Yes">
                                            Yes
                                          </label>
                                        </div>
                                      </div>
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="pg_arrears" id="pg_arrears_no" value="No">
                                            No
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <small class="radio-error"></small>
                              </div>
                          </div>
                          <div class="col-md-6" id="history_yes"style="display: none;">
                            <div class="form-group first">
                                <label for="pg_arrears_count">History of Arrears in numbers</label>
                                <input type="text" class="form-control" placeholder="Eg. 1" id="pg_arrears_count" name="pg_arrears_count">
                                <small></small>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group first">
                              <label for="pg_marksheet">PG Marksheets</label>
                              <p>Upload a clearly scanned copy of all semester marksheets as Single PDF</p>
                              <input type="file" name="pg_marksheet" id="pg_marksheet" class="file-upload-default">
                              <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload PG Marksheet as PDF">
                                <span class="input-group-append">
                                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                              </div>
                              <small class="file-error"></small>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group radiogrp">
                                  <label for="pg_internship">Do you have Internship as part of your syllabus?</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="pg_internship" id="pg_internship_yes" value="Yes">
                                            Yes
                                          </label>
                                        </div>
                                      </div>
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="pg_internship" id="pg_internship_no" value="No">
                                            No
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <small class="radio-error"></small>
                              </div>
                          </div>
                        </div>
                        <div class="row" id="pg_intern"style="display: none;">
                          <div class="col-md-12">
                            <div class="form-group first">
                                <label for="pg_intern_period">What is the duration of the internship period(in months)?</label>
                                <p>1. Kindly discuss with the department staffs and fill the answer. <br>
                                  2.If No,Type as NA</p>
                                <input type="text" class="form-control" placeholder="Eg: 4 months" id="pg_intern_period" name="pg_intern_period">
                                <small></small>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <div class="form-group first">
                                <label for="ugregno">UG Register Number</label>
                                  <input type="text" class="form-control" placeholder="Enter your UG Register Number" id="ug_regno" name="ug_regno">
                                  <small></small>
                                </div>
                            </div>
                          </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="ex_ug_university">UG University</label>
                              <input type="text" class="form-control" placeholder="UG University Name" id="ex_ug_university" name="ex_ug_university">
                              <small></small>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ex_ug_college">UG College Name</label>
                                  <input type="text" class="form-control" placeholder="UG College Name" id="ex_ug_college" name="ex_ug_college">
                                  <small></small>
                                </div>    
                          </div>
                          <div class="col-md-6">
                            <div class="form-group first">
                                <label for="ex_ug_college_address">UG College Address with PINCODE</label>
                                <input type="text" class="form-control" placeholder="UG College Address with PINCODE" id="ex_ug_college_address" name="ex_ug_college_address">
                                <small></small>
                              </div>    
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ex_ug_department">UG Department</label>
                                  <input type="text" class="form-control" placeholder="UG Department" id="ex_ug_department" name="ex_ug_department">
                                  <small></small>
                                </div>    
                          </div>
                          <div class="col-md-6">
                            <div class="form-group first">
                                <label for="ex_ug_percentage">UG Percentage</label>
                                <input type="text" class="form-control" placeholder="UG Percentage" id="ex_ug_percentage" name="ex_ug_percentage">
                                <small></small>
                              </div>    
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group first">
                              <label for="ex_ug_marksheets">All UG Marksheets</label>
                              <p>Upload a clear scanned copy as Single PDF</p>
                              <input type="file" name="ex_ug_marksheets" id="ex_ug_marksheets" class="file-upload-default">
                              <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload PG Marksheet as PDF">
                                <span class="input-group-append">
                                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                              </div>
                              <small class="file-error"></small>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group first">
                              <label for="ex_ug_provisional">UG Provisional & Consolidated Marksheets</label>
                              <p>Upload a clear scanned copy as Single PDF</p>
                              <input type="file" name="ex_ug_provisional" id="ex_ug_provisional" class="file-upload-default">
                              <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload PG Marksheet as PDF">
                                <span class="input-group-append">
                                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                              </div>
                              <small class="file-error"></small>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group radiogrp">
                                  <label for="ex_ug_internship">Did you Undergone any Internship during your UG?</label>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="ex_ug_internship" id="ex_ug_internship_yes" value="Yes">
                                            Yes
                                          </label>
                                        </div>
                                      </div>
                                      <div class="row ml-3">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="ex_ug_internship" id="ex_ug_internship_no" value="No">
                                            No
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <small class="radio-error"></small>
                              </div>
                          </div>
                        </div>
                        <section id="worked_intern"style="display: none;">
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="ex_ug_internship_companyplace">Place of Internship</label>
                                    <input type="text" class="form-control" placeholder="Place of Internship (or) NA" id="ex_ug_internship_companyplace" name="ex_ug_internship_companyplace">
                                    <small></small>
                                  </div>    
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="ex_ug_internship_companyname">Company name</label>
                                    <input type="text" class="form-control" placeholder="Company name (or) NA" id="ex_ug_internship_companyname" name="ex_ug_internship_companyname">
                                    <small></small>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="ex_ug_internship_companyaddress">Company Address</label>
                                    <input type="text" class="form-control" placeholder="Company Address (or) NA" id="ex_ug_internship_companyaddress" name="ex_ug_internship_companyaddress">
                                    <small></small>
                                  </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ex_ug_internship_period">Internship period</label>
                                  <input type="text" class="form-control" placeholder="Eg. 4 months (or) NA" id="ex_ug_internship_period" name="ex_ug_internship_period">
                                  <small></small>
                                </div>    
                            </div>
                          </div>
                        </section>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group radiogrp">
                                <label for="ex_ug_work_exp">Do you have any work experience?</label>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="row ml-3">
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="radio" class="form-check-input" name="ex_ug_work_exp" id="ex_ug_work_exp_yes" value="Yes">
                                          Yes
                                        </label>
                                      </div>
                                    </div>
                                    <div class="row ml-3">
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="radio" class="form-check-input" name="ex_ug_work_exp" id="ex_ug_work_exp_yes" value="No">
                                          No
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <small class="radio-error"></small>
                            </div>
                        </div>
                      </div>
                      <section id="worked_company"style="display: none;">
                        <div class="row">
                          <div class="col-md-4">
                              <div class="form-group first">
                                  <label for="ex_ug_work_company">Worked Company name</label>
                                  <input type="text" class="form-control" placeholder="Company name (or) NA" id="ex_ug_work_company" name="ex_ug_work_company">
                                  <small></small>
                                </div>    
                          </div>
                          <div class="col-md-4">
                            <div class="form-group first">
                                <label for="ex_ug_work_period">Period of Working</label>
                                <input type="text" class="form-control" placeholder="In months/years (or) NA" id="ex_ug_work_period" name="ex_ug_work_period">
                                <small></small>
                              </div>    
                          </div>
                          <div class="col-md-4">
                            <div class="form-group first">
                                <label for="ex_ug_work_uan">UAN Number</label>
                                <input type="text" class="form-control" placeholder="UAN Number or NA" id="ex_ug_work_uan" name="ex_ug_work_uan">
                                <small></small>
                              </div>    
                          </div>
                        </div>
                      </section>
                        <div class="row mt-4 justify-content-center">
                          <button  type="button" class="btn btn-danger mr-4" onclick="goBack()"><i class="icon-arrow-left"></i> Previous</button>
                            <button id="proceed" type="button" class="btn btn-success">Continue <i class="icon-arrow-right"></i></button>
                        </div>
                      </form>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col-md-5 side">
                <img src="{% static 'images/Form_pictures/PG-Details.jpg' %}" alt=""></div>
            </div>
          </div>
        </div>
      </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span> 
          </div>
        </footer>  -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <script>
    window.onload = function() {
    var storedFormData = sessionStorage.getItem('pgForms');
    if (storedFormData) {
      var form = document.getElementById('pg_forms');
      var parsedData = JSON.parse(storedFormData);
      console.log(parsedData);
      for (var key in parsedData) {
        if (parsedData.hasOwnProperty(key)) {
          var inputElement = form.elements[key];
          if (inputElement && inputElement.type !== 'file') {
            inputElement.value = parsedData[key];
          }
        }
      }
      sessionStorage.removeItem('pgForms');
    }
  };
  </script>
  <script>
    const form = document.getElementById('pg_forms');
    const radiogrp = document.querySelectorAll('.radiogrp');
    const errorFields = document.querySelectorAll('.file-error');
    const pg_hod = document.getElementById('pg_hod');
    const pg_seed = document.getElementById('pg_seed');
    const pg_hod_no = document.getElementById('pg_hod_no');
    const pg_seed_no = document.getElementById('pg_seed_no');
    const pg_hod_mail = document.getElementById('pg_hod_mail');
    const pg_seed_mail = document.getElementById('pg_seed_mail');
    const pg_percentage = document.getElementById('pg_percentage');
    const active_pg_arrears = document.getElementById('active_pg_arrears_count');
    const pg_arrears = document.getElementById('pg_arrears_count');
    const pg_intern_period = document.getElementById('pg_intern_period');
    const ug_regno = document.getElementById('ug_regno');
    const ex_ug_university = document.getElementById('ex_ug_university');
    const ex_ug_college = document.getElementById('ex_ug_college');
    const ex_ug_college_address = document.getElementById('ex_ug_college_address');
    const ex_ug_department = document.getElementById('ex_ug_department');
    const ex_ug_percentage = document.getElementById('ex_ug_percentage');
    const ex_ug_internship_companyplace = document.getElementById('ex_ug_internship_companyplace');
    const ex_ug_internship_companyname = document.getElementById('ex_ug_internship_companyname');
    const ex_ug_internship_companyaddress = document.getElementById('ex_ug_internship_companyaddress');
    const ex_ug_internship_period = document.getElementById('ex_ug_internship_period');
    const ex_ug_work_company = document.getElementById('ex_ug_work_company');
    const ex_ug_work_period = document.getElementById('ex_ug_work_period');
    const ex_ug_work_uan = document.getElementById('ex_ug_work_uan');

    var pg_internship = document.getElementsByName('pg_internship');
    var ex_ug_internship = document.getElementsByName('ex_ug_internship');
    var ex_ug_work_exp = document.getElementsByName('ex_ug_work_exp');
    const pg_intern = document.getElementById('pg_intern');
    const worked_intern = document.getElementById('worked_intern');
    const worked_company = document.getElementById('worked_company');

    const pg_marksheet = document.getElementById('pg_marksheet');
    const ex_ug_marksheets = document.getElementById('ex_ug_marksheets');
    const ex_ug_provisional = document.getElementById('ex_ug_provisional');

    const radioElementMap = {
      active_pg_arrears_yes: 'arrears_yes',
      active_pg_arrears_no: 'arrears_yes',
      pg_arrears_yes: 'history_yes',
      pg_arrears_no: 'history_yes',
      pg_internship_yes: 'pg_intern',
      pg_internship_no: 'pg_intern',
      ex_ug_internship_yes:'worked_intern',
      ex_ug_internship_no:'worked_intern',
      ex_ug_work_exp_yes:'worked_company',
      ex_ug_work_exp_no:'worked_company',

    };
    // Attach a click event listener to the common parent element of the radio buttons
    document.addEventListener('click', (event) => {
      const clickedRadio = event.target;
      const elementId = radioElementMap[clickedRadio.id];
      if (elementId) {
        const element = document.getElementById(elementId);
        if (element) {
          element.style.display = clickedRadio.value === 'Yes' ? 'block' : 'none';
        }
      }
    });

    $(document).ready(function() {
    $('#proceed').click(function(event) {
        console.log("Click event triggered"); // Add this line
        event.preventDefault(); // Prevent form submission
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        //var form_data = $('#pg_forms').serialize(); // Serialize form data
        var form_data = new FormData($('#pg_forms')[0]);
        form_data.append('csrfmiddlewaretoken', csrfToken);

        var pgForms = new FormData(form); //session data name
        var storedData = {};
        for (var [name, value] of pgForms.entries()) {
          if (value instanceof File) {
            // Handle file uploads separately
            storedData[name] = value;
          } else {
            storedData[name] = value;
          }
        }
        sessionStorage.setItem('pgForms', JSON.stringify(storedData));
        var status = true;
        var active_pg_arrearsVal,pg_arrearsVal,pg_internshipVal,ex_ug_internshipVal,ex_ug_work_expVal;
        for (var i = 0; i < active_pg_arrears.length; i++) {
          if (active_pg_arrears[i].checked) {
            active_pg_arrearsVal = active_pg_arrears[i].value;
            break;
          }
        }
        for (var i = 0; i < pg_arrears.length; i++) {
          if (pg_arrears[i].checked) {
            pg_arrearsVal = pg_arrears[i].value;
            break;
          }
        }
        for (var i = 0; i < pg_internship.length; i++) {
          if (pg_internship[i].checked) {
            pg_internshipVal = pg_internship[i].value;
            break;
          }
        }
        for (var i = 0; i <  ex_ug_internship.length; i++) {
          if ( ex_ug_internship[i].checked) {
            ex_ug_internshipVal =  ex_ug_internship[i].value;
            break;
          }
        }
        for (var i = 0; i <  ex_ug_work_exp.length; i++) {
          if ( ex_ug_work_exp[i].checked) {
            ex_ug_work_expVal =  ex_ug_work_exp[i].value;
            break;
          }
        }
        if(active_pg_arrearsVal === 'Yes' && pg_arrearsVal === 'Yes' && pg_internshipVal === 'Yes' && ex_ug_internshipVal === 'Yes' && ex_ug_work_expVal === 'Yes'){
          status = checkRequired([active_pg_arrears_count,pg_arrears_count,pg_intern_period,ex_ug_internship_companyplace,ex_ug_internship_companyname,ex_ug_internship_companyaddress,ex_ug_internship_period,ex_ug_work_company,ex_ug_work_period,ex_ug_work_uan]);
        }
        
        var validatecontactFields,checkemail,checkrequired,validateradio,isfileEmpty;
        checkrequired = checkRequired([pg_hod,pg_seed,pg_hod_no,pg_seed_no,pg_hod_mail,pg_seed_mail,pg_percentage,ug_regno,ex_ug_university,ex_ug_college,ex_ug_college_address,ex_ug_department,ex_ug_percentage]);
        checkemail = checkEmail([pg_hod_mail,pg_seed_mail]);
        validateradio = validateRadio(radiogrp);
        isfileEmpty = isFileEmpty([pg_marksheet,ex_ug_marksheets,ex_ug_provisional])
        validatecontactFields  =validateContactFields([pg_hod_no,pg_seed_no]);
        if(!validatecontactFields || !checkemail || !checkrequired || !validateradio || !isfileEmpty){
          status = false
        }
        if(status){
          $.ajax({
            type: 'POST',
            url: '/superlee/registration/pg-details/',
            data: form_data,
            headers: {
                'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
              },
            contentType: false, // Set content type to false to let the browser handle it
            processData: false,
            success: function(response) {
              console.log(response)
              window.location.href = "/superlee/registration/work-agreement/";
            },
            error: function(response) {
              Swal.fire({
                  icon: 'error',
                  title: 'response.responseJSON.error',
                  text: "There is a field which mustn't be empty!",
                  showConfirmButton: false,
                  timer: 1500
                })
            }
        });
        }
        else{
          Swal.fire({
                   icon: 'error',
                   title: "Sorry!",
                   text: "Something went wrong!",
                   showConfirmButton: true,
                 })
        }
    });
});
function goBack() {
    window.location.href = "/superlee/registration/schoolings/";
    }
</script>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const fileInputs = document.querySelectorAll('input[type="file"]');

    fileInputs.forEach(function(fileInput) {
      const fileError = fileInput.parentElement.querySelector('.file-error');
      const fileGrp = fileInput.parentElement;
      fileInput.addEventListener('change', function() {
        console.log(fileGrp)
        const file = fileInput.files[0];
        if (file) {
          const fileType = file.type;
          if (fileType !== 'application/pdf') {
            fileGrp.classList.add('error')
            fileError.textContent = 'Please select a PDF file.';
            fileInput.value = ''; // Clear the file input
          } else {
            fileGrp.className = 'form-group success'
            fileError.textContent = ''; // Clear the error message
          }
        } else {
          fileGrp.classList.add('error')
          fileError.textContent = 'Please select a file.';
        }
      });
    });
  });
</script>

<script>
  // Get the alert element
  var alertEl = document.getElementById("alert1");
  var area = document.getElementById("form-area");
  // Add an event listener to the window object for the scroll event
  area.addEventListener("scroll", function() {
    // Check if the user has scrolled to the top of the page
    if (window.pageYOffset === 0) {
      // Show the alert
      alertEl.style.display = "block";
    } else {
      // Hide the alert
      alertEl.style.display = "none";
    }
  });
</script>

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/sortable.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <script src="{% static 'js/file-upload.js' %}"></script>
  <script src="{% static 'js/custom-validator.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
  <!-- CSS -->

<!-- JavaScript -->
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script> -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/autofill/2.5.3/js/dataTables.autoFill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

</body>

</html>

