{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>PSGCAS CAREER DEVELOPMENT PROCESS</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-digimedia-v3.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/psg/psgcas.png' %}" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'index'%}">Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'index'%}#about">About </a></li>
                            <li class="scroll-to-section"><a href="{% url 'index'%}#services">Vision & Mission</a></li>
                            <li class="scroll-to-section"><a href="{% url 'p_process' %}" class="active">Process</a></li>
                            <li class="scroll-to-section"><a href="{% url 'infrastructure' %}">Infrastructure</a></li>
                            <li class="scroll-to-section"><a href="{% url 'contact' %}">Contact</a></li> 
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h2>PLACEMENT PROCESS</h2>
                                        <h4>Don’t Lose Hope, There’s Always A Company Looking For You</h4>
                                    </div>
                                    <!-- <div class="col-lg-12 mt-4">
                                        <div class="border-first-button scroll-to-section ">
                                            <a href="#contact"> Get Started <i class='bx bxs-rocket'></i> </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static 'images/pro1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Section-->
    <div id="infra" class="infra section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                            data-wow-delay="0.5s">
                            <div class="infra-right-content">
                                <div class="section-heading">
                                    <h4>Our Roadmap</h4>
                                    <h5>Career Development Center</h5>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery -->
    <div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <span class="timeline-year">01</span>
                        <!-- <h3 class="title">Eligibility Criteria</h3> -->
                        <p class="description">
                            Preparation of eligibility list according to the company needs.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <span class="timeline-year">02</span>
                        <!-- <h3 class="title">Publishing Company Details</h3> -->
                        <p class="description">
                            Publishing profile and details of the company to eligible students.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--2-->
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <span class="timeline-year">03</span>
                        <!-- <h3 class="title">Opting for the Drive</h3> -->
                        <p class="description">
                            Students opt in or opt out and register online for the drive.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <span class="timeline-year">04</span>
                        <!-- <h3 class="title">Registration</h3> -->
                        <p class="description">
                            Students attend various rounds in campus drive and the results are declared.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--3-->
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <span class="timeline-year">05</span>
                        <!-- <h3 class="title">Attendance</h3> -->
                        <p class="description">
                            Attendance during campus drive is taken on the spot.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <span class="timeline-year">06</span>
                        <!-- <h3 class="title">Issue of Offer Letter</h3> -->
                        <p class="description">
                            Collecting Feedbacks from the placed students about GD Topics and PI questions.

                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Gallery -->

    <!--Footer Section-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2023 R&D of PSGCAS CDC-Placement Center. All Rights Reserved. 
                        <br>Images by <a href="https://www.freepik.com/" target="_parent"
                            title="Freepik.com">Freepik</a>
                            <a target="_blank" href="https://source.unsplash.com/">Unsplash</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>