{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Superlee : Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link href="{% static 'css/sortable.css' %}" rel="stylesheet" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/reg.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.5.3/css/autoFill.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row custom-nav">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo ml-3 mt-2" href="index.html"><img src="{% static 'images/psg/psgcas.png' %}" class="mr-4" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini ml-3" href="index.html"><img src="{% static 'images/psg/psg-75.png' %}" alt="logo"/></a>
      </div>
      <div class="col navbar-menu-wrapper d-flex align-items-center justify-content-start">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'images/faces/face28.jpg' %}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face3.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face4.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas pt-5" id="sidebar">
        <ul class="nav">
          <p class="sidebar-title text-center">Basic Information</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Personal Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'family_details'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Family Details</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Academic Section</p>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'schoolings'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Schooling Section</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ug_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Under Graduate</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pg_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Post Graduate</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Agreements & Others</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'workloc_agreement'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Agreements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mand_docs'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Upload Documents</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'other_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Others</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Review Details</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ack'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Acknowledgement</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'application_sts'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Application Status</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid main-panel scroll" style="width: 100%;">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="d-flex justify-content-center mt-4">
              <img src="{% static 'images/CDC Logo.png' %}" alt="" style="height: 30vh; width: auto;">
            </div>
            <div class="row d-flex align-items-center justify-content-center mt-4">
              <h3>Student Registration for Placements</h3>
              
            </div>
            <div class="d-flex align-items-center justify-content-center mt-1">
              <h6 class="mb-4">Update your details here !.</h6>
            </div> -->
            <div class="row d-flex justify-content-center">
              <div class="col-md-7">
                <div class="contents">
                  <div class="row d-flex align-items-center justify-content-center">
                    <h3 class="mt-5 title">Schooling Details</h3>
                  </div>
                  <div class="container form-container scroll-forms">
                      <div class="col-md-12 py-5">
                        <form method="post" class="forms" id="schoolings">
                            <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group first">
                                      <label for="sslc_schooling">10th Schooling</label>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="sslc_schooling" id="sslc_schooling" value="Government School">
                                                Government School / Government-Aided School
                                              </label>
                                            </div>
                                          </div>
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="sslc_schooling" id="sslc_schooling" value="Private School">
                                                Private School
                                              </label>
                                            </div>
                                          </div>
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="sslc_schooling" id="sslc_schooling" value="Others">
                                                Others
                                              </label>
                                              <input type="text" class="form-control" id="sslc_schooling" name="sslc_schooling" disabled hidden>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group first">
                                        <label for="sslc_school">10th School Name</label>
                                        <input type="text" class="form-control" placeholder="Eg: PSG Public School" id="sslc_school" name="sslc_school">
                                    </div>    
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group first">
                                      <label for="sslc_school_address">10th School Address</label>
                                      <input type="text" class="form-control" placeholder=" " id="sslc_school_address" name="sslc_school_address"> 
                                  </div>
                              </div>
                                <div class="col-md-12">
                                    <div class="form-group first">
                                        <label for="sslc_school_pincode">Pincode</label>
                                        <input type="text" class="form-control" placeholder="School Address Pincode" id="sslc_school_pincode" name="sslc_school_pincode"> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group first">
                                      <label for="rollno">10th- Board of Studies</label>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="board" id="board" value="State Board of Education">
                                                State Board of Education
                                              </label>
                                            </div>
                                          </div>
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="board" id="board" value="CBSE">
                                                CBSE
                                              </label>
                                            </div>
                                          </div>
                                          <!-- <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="board" id="board" value="ICSC">
                                                ICSC
                                              </label>
                                            </div>
                                          </div> -->
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="board" id="board" value="NIOS">
                                                NIOS
                                              </label>
                                            </div>
                                          </div>
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="board" id="board" value="IGCSE">
                                                IGCSE
                                              </label>
                                            </div>
                                          </div>
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="board" id="board" value="Others">
                                                Others
                                              </label>
                                              <input type="text" class="form-control" id="others" name="others" disabled hidden>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="sslc_percentage">10th Percentage</label>
                                    <input type="text" class="form-control" placeholder="Eg: 92" id="sslc_percentage" name="sslc_percentage">
                                </div>    
                              </div>
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="sslc_year">10th Year of Passing</label>
                                  <input type="text" class="form-control" placeholder="Eg: 2017" id="sslc_year" name="sslc_year">
                              </div>    
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-md-8">
                                <div class="form-group first">
                                  <label for="sslc_certi">10th Marksheet</label>
                                  <p>Upload a clear scanned PDF</p>
                                  <input type="file" name="sslc_certi" id="sslc_certi" class="file-upload-default">
                                  <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload SSLC Marksheet">
                                    <span class="input-group-append">
                                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                    </span>
                                  </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group first">
                                      <label for="hsc_or_diploma">Your Educational Journey after 10th?</label>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="hsc_or_diploma" id="choice_hsc" value="12th">
                                                12th
                                              </label>
                                            </div>
                                          </div>
                                          <div class="row ml-3">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="hsc_or_diploma" id="choice_diploma" value="Diploma">
                                                Diploma
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <!-- 12th section -->
                            <section id="hsc_section" style="display: none;"> 
                                <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group first">
                                          <label for="hsc_schooling">12th Schooling</label>
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_schooling" id="hsc_schooling" value="Government School">
                                                    Government School / Government-Aided School
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_schooling" id="hsc_schooling" value="Private School">
                                                    Private School
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_schooling" id="hsc_schooling" value="Others">
                                                    Others
                                                  </label>
                                                  <input type="text" class="form-control" id="hsc_schooling" name="hsc_schooling" disabled hidden>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group first">
                                            <label for="hsc_school">12th School Name</label>
                                            <input type="text" class="form-control" placeholder="Eg: PSG Public School" id="hsc_school" name="hsc_school">
                                        </div>    
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group first">
                                          <label for="hsc_school_address">12th School Address</label>
                                          <input type="text" class="form-control" placeholder=" " id="hsc_school_address" name="hsc_school_address"> 
                                      </div>
                                  </div>
                                    <div class="col-md-6">
                                        <div class="form-group first">
                                            <label for="hsc_school_pincode">Pincode</label>
                                            <input type="text" class="form-control" placeholder="School Address Pincode" id="hsc_school_pincode" name="hsc_school_pincode"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group first">
                                          <label for="hsc_board">12th- Board of Studies</label>
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_board" id="hsc_board" value="State Board of Education">
                                                    State Board of Education
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_board" id="hsc_board" value="CBSE">
                                                    CBSE
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_board" id="hsc_board" value="ICSC">
                                                    ICSC
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_board" id="hsc_board" value="NIOS">
                                                    NIOS
                                                  </label>
                                                </div>
                                              </div>
                                              <!-- <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_board" id="hsc_board" value="IGCSE">
                                                    IGCSE
                                                  </label>
                                                </div>
                                              </div> -->
                                              <div class="row ml-3">
                                                <div class="form-check">
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="hsc_board" id="hsc_board" value="Others">
                                                    Others
                                                  </label>
                                                  <input type="text" class="form-control" id="hsc_board" name="hsc_board" disabled hidden>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group first">
                                        <label for="hsc_percentage">12th Percentage</label>
                                        <input type="text" class="form-control" placeholder="Eg: 92" id="hsc_percentage" name="hsc_percentage">
                                    </div>    
                                  </div>
                                <div class="col-md-6">
                                  <div class="form-group first">
                                      <label for="hsc_year">12th Year of Passing</label>
                                      <input type="text" class="form-control" placeholder="Eg: 2019" id="hsc_year" name="hsc_year">
                                  </div>    
                                </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-8">
                                    <div class="form-group first">
                                      <label for="high">12th Marksheet</label>
                                      <p>Upload a clear scanned PDF</p>
                                      <input type="file" name="high" id="high" class="file-upload-default">
                                      <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload HSC Marksheet">
                                        <span class="input-group-append">
                                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                        </span>
                                      </div>
                                    </div>
                                </div>
                                </div>
                            </section>
                            <!-- Diploma section -->
                            <section id="diploma_section" style="display: none;">
                                <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group first">
                                          <label for="diploma_clg">Diploma College Name</label>
                                          <input type="text" class="form-control" placeholder="Eg: PSG Public School" id="diploma_clg" name="diploma_clg">
                                      </div>    
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group first">
                                          <label for="diploma_clg_address">Diploma College Address</label>
                                          <input type="text" class="form-control" placeholder=" " id="diploma_clg_address" name="diploma_clg_address"> 
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group first">
                                        <label for="diploma_clg_pincode">Pincode</label>
                                        <input type="text" class="form-control" placeholder=" " id="diploma_clg_pincode" name="diploma_clg_pincode"> 
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group first">
                                      <label for="diploma_percentage">Diploma Percentage</label>
                                      <input type="text" class="form-control" placeholder="Eg: 92" id="diploma_percentage" name="diploma_percentage">
                                  </div>    
                                </div>
                              <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="diploma_year">Diploma Year of Passing</label>
                                    <input type="text" class="form-control" placeholder="Eg: 2017" id="diploma_year" name="diploma_year">
                                </div>    
                              </div>
                              </div>
                              <div class="row">
                                <div class="col-md-8">
                                  <div class="form-group first">
                                    <label for="high">Diploma Marksheet</label>
                                    <p>Upload a clear scanned copy as Single PDF</p>
                                    <input type="file" name="high" id="high" class="file-upload-default">
                                    <div class="input-group col-xs-12">
                                      <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Diploma Marksheet">
                                      <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                      </span>
                                    </div>
                                  </div>
                              </div>
                              </div>
                            </section>
                            <div class="row mt-4 justify-content-center">
                              <button id="proceed" type="button" class="btn btn-danger mr-4"><i class="icon-arrow-left"></i> Previous</button>
                            <button id="proceed" type="button" class="btn btn-success">Continue <i class="icon-arrow-right"></i></button>
                            </div>
                        </form>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col-md-5 side">
                <img src="{% static 'images/Form_Pictures/Schoolings.jpg' %}" alt=""></div>
            </div>
          </div>
        </div>
      </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span> 
          </div>
        </footer>  -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <script>
    $(document).ready(function() {
      $('#proceed').click(function(event) {
        console.log("Click event triggered"); // Add this line
        event.preventDefault(); // Prevent form submission

        var form_data = new FormData($('#schoolings')[0]); // Use FormData object to handle file upload

        $.ajax({
          type: 'POST',
          url: '/superlee/registration/schoolings/', // Use Django url template tag to generate URL
          data: form_data,
          contentType: false, // Set content type to false to let the browser handle it
          processData: false, // Set processData to false to prevent jQuery from trying to serialize the data
          success: function(response) {
            window.location.href = "/superlee/registration/ug-details/"; // Use Django url template tag to generate URL
          },
          error: function(response) {
            alert("Response Failure");
          }
        });
      });
    });
  </script>
  <script>
    const hsc = document.getElementById('choice_hsc');
    const diploma = document.getElementById('choice_diploma');
    const section_hsc = document.getElementById('hsc_section');
    const section_diploma = document.getElementById('diploma_section');
  
    hsc.addEventListener('click', () => {
      section_diploma.style.display = 'none';
      section_hsc.style.display = 'block';
    });
  
    diploma.addEventListener('click', () => {
      section_diploma.style.display = 'block';
      section_hsc.style.display = 'none';
    });
  </script>
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/sortable.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <script src="{% static 'js/file-upload.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
  <!-- CSS -->

<!-- JavaScript -->
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script> -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/autofill/2.5.3/js/dataTables.autoFill.min.js"></script>
</body>

</html>

