{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Superlee : Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link href="{% static 'css/sortable.css' %}" rel="stylesheet" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/reg.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.5.3/css/autoFill.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row custom-nav">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo ml-3 mt-2" href="index.html"><img src="{% static 'images/psg/psgcas.png' %}" class="mr-4" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini ml-3" href="index.html"><img src="{% static 'images/psg/psg-75.png' %}" alt="logo"/></a>
      </div>
      <div class="col navbar-menu-wrapper d-flex align-items-center justify-content-start">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'images/faces/face28.jpg' %}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face3.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face4.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas pt-5" id="sidebar">
        <ul class="nav">
          <p class="sidebar-title text-center">Basic Information</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Personal Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'family_details'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Family Details</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Academic Section</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schoolings'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Schooling Section</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'ug_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Under Graduate</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pg_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Post Graduate</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Agreements & Others</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'workloc_agreement'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Agreements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mand_docs'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Upload Documents</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'other_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Others</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Review Details</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ack'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Acknowledgement</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'application_sts'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Application Status</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid main-panel scroll" style="width: 100%;">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="d-flex justify-content-center mt-4">
              <img src="{% static 'images/CDC Logo.png' %}" alt="" style="height: 25vh; width: auto;">
            </div>
            <div class="row d-flex align-items-center justify-content-center mt-4">
              <h3>Student Registration for Placements</h3>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-1">
              <h6 class="mb-4">Update your details here !.</h6>
            </div> -->
            <div class="row d-flex justify-content-center">
              <div class="col-md-7">
                <div class="contents">
                  <div class="row d-flex align-items-center justify-content-center">
                    <h3 class="mt-5 title">Under-Graduate Information</h3>
                  </div>
                  <div class="container form-container scroll-forms">
                      <div class="col-md-12 py-5">
                        <form method="post" class="forms" id="ug_forms">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group radiogrp">
                                    <label for="gap_ug">Any gap between Schooling and UG?</label>
                                    <div class="row ml-3">
                                        <div class="form-check mr-5">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="gap_ug" id="gap_ug_yes" value="Yes">
                                            Yes
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="gap_ug" id="gap_ug_no" value="No">
                                            No
                                          </label>
                                        </div>
                                      </div>
                                      <small class="radio-error"></small>
                                </div>
                            </div>
                            <div class="col-md-5" id="gap_yes" style="display: none;">
                              <div class="form-group first">
                                  <label for="gap_year">Year of Gap (if YES)</label>
                                  <input type="text" class="form-control" placeholder="Eg: 1, 2, 3 (must be in number)" id="gap_year" name="gap_year">
                                  <small></small>
                              </div>    
                            </div>
                          </div>
                          <!-- <div class="row">
                            <div class="col-md-12">
                              <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="ug_department">UG Department</label>
                                <div class="col-sm-12">
                                  <select class="form-control" name="ug_department" id="ug_department">
                                    <option>BCA</option>
                                    <option>MCA</option>
                                    <option>Information Technology</option>
                                    <option>SS</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div> -->
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <label for="ug_hod">HOD's Name</label>
                                    <input type="text" class="form-control" placeholder=" Department SEED Coordinator Name" id="ug_hod" name="ug_hod">
                                    <small></small>
                                  </div>    
                            </div>
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ug_seed">SEED Coordinator's Name</label>
                                  <input type="text" class="form-control" placeholder="Department SEED Coordinator contact" id="ug_seed" name="ug_seed">
                                  <small></small>
                                </div>    
                            </div>
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ug_hod_no">HOD's Number</label>
                                  <input type="text" class="form-control" placeholder="Department SEED Coordinator contact" id="ug_hod_no" name="ug_hod_no">
                                  <small></small>
                                </div>    
                            </div>
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ug_seed_no">SEED Coordinator's Number</label>
                                  <input type="text" class="form-control" placeholder="Department SEED Coordinator contact" id="ug_seed_no" name="ug_seed_no">
                                  <small></small>
                                </div>    
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ug_hod_mail">HOD's E-Mail ID (Official)</label>
                                  <input type="text" class="form-control" placeholder="Department SEED Coordinator E-Mail" id="ug_hod_mail" name="ug_hod_mail">
                                  <small></small>
                                </div>    
                            </div>
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ug_seed_mail">SEED Coordinator's E-Mail ID (Official)</label>
                                  <input type="text" class="form-control" placeholder="Department SEED Coordinator E-Mail" id="ug_seed_mail" name="ug_seed_mail">
                                  <small></small>
                                </div>    
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group first">
                                  <label for="ug_sem1">UG Overall Percentage</label>
                                  <p>Enter the aggregate percentage till last semester & This marks will be verified before adding to your profile</p>
                                  <input type="text" class="form-control" placeholder="Eg: 95" id="ug_percentage" name="ug_percentage">
                                  <small></small>
                                </div>    
                            </div>
                            <div class="col-md-6">
                              <div class="form-group first">
                                <label for="">UG Marksheet</label>
                                <p>Upload a clearly scanned copy of all semester marksheets as Single PDF</p>
                                <input type="file" name="ug_marksheet" id="ug_marksheet" class="file-upload-default">
                                <div class="input-group col-xs-12">
                                  <input type="text" class="form-control file-upload-info" disabled placeholder="First Semester as clear PDF">
                                  <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                  </span>
                                </div>
                                <small class="file-error"></small>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group radiogrp">
                                    <label for="active_ug_arrears">Do you have any Current Arrears?</label>
                                    <div class="row ml-3">
                                          <div class="form-check mr-5">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="active_ug_arrears" id="active_ug_arrears_yes" value="Yes">
                                              Yes
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="active_ug_arrears" id="active_ug_arrears_no" value="No">
                                              No
                                            </label>
                                          </div>
                                    </div>
                                    <small class="radio-error"></small>
                                </div>
                            </div>
                            <div class="col-md-6" id="arrears_yes" style="display: none;">
                              <div class="form-group first">
                                  <label for="active_ug_arrears_count">Current Arrears in numbers</label>
                                  <input type="text" class="form-control" placeholder="Eg. 1" id="active_ug_arrears_count" name="active_ug_arrears_count">
                                  <small></small>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group radiogrp">
                                    <label for="ug_arrears">Do you have any History of Arrears?</label>
                                        <div class="row ml-3">
                                          <div class="form-check mr-5">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="ug_arrears" id="ug_arrears_yes" value="Yes">
                                              Yes
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="ug_arrears" id="ug_arrears_no" value="No">
                                              No
                                            </label>
                                          </div>
                                        </div>
                                        <small class="radio-error"></small>
                                </div>
                            </div>
                            <div class="col-md-6" id="history_yes" style="display: none;">
                              <div class="form-group first">
                                  <label for="ug_arrears_count">History of Arrears in numbers</label>
                                  <input type="text" class="form-control" placeholder="Eg. 1" id="ug_arrears_count" name="ug_arrears_count">
                                  <small></small>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group radiogrp">
                                    <label for="ug_internship">Do you have Internship as part your syllabus?</label>
                                    <div class="row ml-3">
                                          <div class="form-check mr-5">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="ug_internship" id="ug_internship_yes" value="Yes">
                                              Yes
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="ug_internship" id="ug_internship_no" value="No">
                                              No
                                            </label>
                                          </div>
                                    </div>
                                    <small class="radio-error"></small>
                                </div>
                            </div>
                            <div class="col-md-6" id="intern_yes" style="display: none;">
                              <div class="form-group first">
                                  <label for="ug_intern_period">What is the duration of the internship period(in months)?</label>
                                  <p>Kindly discuss with the department staffs and fill the answer.</p>
                                  <input type="text" class="form-control" placeholder="Eg. 4 Months" id="ug_intern_period" name="ug_intern_period">
                                  <small></small>
                                </div>
                            </div>
                          </div>
                          <div class="row mt-4 justify-content-center">
                            <button type="button" class="btn btn-danger mr-4" onclick="goBack()"><i class="icon-arrow-left"></i> Previous</button>
                            <button id="proceed" type="button" class="btn btn-success">Continue <i class="icon-arrow-right"></i></button>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col-md-5 side">
                <img src="{% static 'images/Form_Pictures/ugdet.jpg' %}" alt=""></div>
            </div>
          </div>
        </div>
      </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span> 
          </div>
        </footer>  -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <script>
    window.onload = function() {
    var storedFormData = sessionStorage.getItem('ugForms');
    if (storedFormData) {
      var form = document.getElementById('ug_forms');
      var parsedData = JSON.parse(storedFormData);
      console.log(parsedData);
      for (var key in parsedData) {
        if (parsedData.hasOwnProperty(key)) {
          var inputElement = form.elements[key];
          if (inputElement && inputElement.type !== 'file') {
            inputElement.value = parsedData[key];
          }
        }
      }
      sessionStorage.removeItem('ugForms');
    }
  };
  </script>
  <script>
    var form = document.getElementById('ug_forms');
    const radiogrp = document.querySelectorAll('.radiogrp');
    const errorFields = document.querySelectorAll('.file-error');
    const gap_year = document.getElementById('gap_year');
    const ug_hod = document.getElementById('ug_hod');
    const ug_seed = document.getElementById('ug_seed');
    const ug_hod_no = document.getElementById('ug_hod_no');
    const ug_seed_no = document.getElementById('ug_seed_no');
    const ug_hod_mail = document.getElementById('ug_hod_mail');
    const ug_seed_mail = document.getElementById('ug_seed_mail');
    const ug_percentage = document.getElementById('ug_percentage');
    const active_ug_arrears_count = document.getElementById('active_ug_arrears_count');
    const ug_arrears_count = document.getElementById('ug_arrears_count');
    const ug_intern_period = document.getElementById('ug_intern_period');
    const ug_marksheet = document.getElementById('ug_marksheet');
    var gap_ug = document.getElementsByName('gap_ug');
    var active_ug_arrears = document.getElementsByName('active_ug_arrears');
    var ug_arrears = document.getElementsByName('ug_arrears');
    var ug_internship = document.getElementsByName('ug_internship');
    // Define an object that maps the radio button IDs to the corresponding element IDs
    const radioElementMap = {
      gap_ug_yes: 'gap_yes',
      gap_ug_no: 'gap_yes',
      active_ug_arrears_yes: 'arrears_yes',
      active_ug_arrears_no: 'arrears_yes',
      ug_arrears_yes: 'history_yes',
      ug_arrears_no: 'history_yes',
      ug_internship_yes: 'intern_yes',
      ug_internship_no: 'intern_yes',
    };

    // Attach a click event listener to the common parent element of the radio buttons
    document.addEventListener('click', (event) => {
      const clickedRadio = event.target;
      const elementId = radioElementMap[clickedRadio.id];
      if (elementId) {
        const element = document.getElementById(elementId);
        if (element) {
          element.style.display = clickedRadio.value === 'Yes' ? 'block' : 'none';
        }
      }
    });


    $(document).ready(function() {
    $('#proceed').click(function(event) {
        console.log("Click event triggered"); // Add this line
        event.preventDefault(); // Prevent form submission
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        //var form_data = $('#ug_forms').serialize(); // Serialize form data
        var form_data = new FormData($('#ug_forms')[0]);
        form_data.append('csrfmiddlewaretoken', csrfToken);

        var ugForms = new FormData(form); //session data name
        var storedData = {};
        for (var [name, value] of ugForms.entries()) {
          if (value instanceof File) {
            // Handle file uploads separately
            storedData[name] = value;
          } else {
            storedData[name] = value;
          }
        }
        sessionStorage.setItem('ugForms', JSON.stringify(storedData));

        var status = true;

        var gap_ugVal,active_ug_arrearsVal,ug_arrearsVal,ug_internshipVal;
        for (var i = 0; i < gap_ug.length; i++) {
          if (gap_ug[i].checked) {
            gap_ugVal = gap_ug[i].value;
            break;
          }
        }
        for (var i = 0; i < active_ug_arrears.length; i++) {
          if (active_ug_arrears[i].checked) {
            active_ug_arrearsVal = active_ug_arrears[i].value;
            break;
          }
        }
        for (var i = 0; i < ug_arrears.length; i++) {
          if (ug_arrears[i].checked) {
            ug_arrearsVal = ug_arrears[i].value;
            break;
          }
        }
        for (var i = 0; i <  ug_internship.length; i++) {
          if ( ug_internship[i].checked) {
            ug_internshipVal =  ug_internship[i].value;
            break;
          }
        }
        if(gap_ugVal === 'Yes' && active_ug_arrearsVal === 'Yes' && ug_arrearsVal === 'Yes' && ug_internshipVal === 'Yes'){
          status = checkRequired([gap_year,active_ug_arrears_count,ug_arrears_count,ug_intern_period]);
        }
        // if(active_ug_arrearsVal === 'Yes'){
        //   status = checkRequired();
        // }
        // if(ug_arrearsVal === 'Yes'){
        //   status = checkRequired();
        // }
        // if(ug_internshipVal === 'Yes'){
        //   status = checkRequired();
        // }

        status = status && checkRequired([ug_hod,ug_seed,ug_hod_no,ug_seed_no,ug_percentage]);
        status = status && checkEmail([ug_hod_mail,ug_seed_mail]);
        status = status && validateRadio(radiogrp);
        status = status && isFileEmpty([ug_marksheet])
        status  = status && validateContactFields([ug_hod_no,ug_seed_no])
        if(status){
          $.ajax({
            type: 'POST',
            url: '/superlee/registration/ug-details/',
            data: form_data,
            headers: {
                'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
              },
            contentType: false, // Set content type to false to let the browser handle it
            processData: false,
            success: function(response) {
              window.location.href = "/superlee/registration/others/";
            },
            error: function(response) {
              Swal.fire({
                  icon: 'error',
                  title: 'response.responseJSON.error',
                  text: "There is a field which mustn't be empty!",
                  showConfirmButton: false,
                  timer: 1500
                })
            }
        });
        }else{
          Swal.fire({
                   icon: 'error',
                   title: "Sorry!",
                   text: "Something went wrong!",
                   showConfirmButton: true,
                 })
        }
    });
});
function goBack() {
    window.location.href = "/superlee/registration/schoolings/";
    }
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const fileInputs = document.querySelectorAll('input[type="file"]');

    fileInputs.forEach(function(fileInput) {
      const fileError = fileInput.parentElement.querySelector('.file-error');
      const fileGrp = fileInput.parentElement;
      fileInput.addEventListener('change', function() {
        console.log(fileGrp)
        const file = fileInput.files[0];
        if (file) {
          const fileType = file.type;
          if (fileType !== 'application/pdf') {
            fileGrp.classList.add('error')
            fileError.textContent = 'Please select a PDF file.';
            fileInput.value = ''; // Clear the file input
          } else {
            fileGrp.className = 'form-group success'
            fileError.textContent = ''; // Clear the error message
          }
        } else {
          fileGrp.classList.add('error')
          fileError.textContent = 'Please select a file.';
        }
      });
    });
  });
</script>
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/sortable.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <script src="{% static 'js/file-upload.js' %}"></script>
  <script src="{% static 'js/custom-validator.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
  <!-- CSS -->

<!-- JavaScript -->
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script> -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/autofill/2.5.3/js/dataTables.autoFill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
</body>

</html>

