{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>PSGCAS CDC Vision</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-digimedia-v3.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
   
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/psg/psgcas.png' %}" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'index'%}">Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'index'%}#about">About </a></li>
                            <li class="scroll-to-section"><a href="{% url 'index'%}#services" class="active">Vision & Mission</a></li>
                            <li class="scroll-to-section"><a href="{% url 'p_process' %}">Process</a></li>
                            <li class="scroll-to-section"><a href="{% url 'infrastructure' %}">Infrastructure</a></li>
                            <li class="scroll-to-section"><a href="{% url 'contact' %}">Contact</a></li> 
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>VISION OF CDC</h2>
                                        <h4>Vision with action can change the world</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static 'images/vision2.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Section-->
    <div id="infra" class="infra section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                            data-wow-delay="0.5s">
                            <div class="infra-right-content">
                                <div class="section-heading">
                                    <h4>Our Vision</h4>
                                    <h5>CDC - Placement Center</h5>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery -->
  <div id="infra" class="infra section mt-5">
    <div class="container">
        <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-lg-12">
                <div class="row d-flex justify-content-center">
                  <div class="card1 m-4">
                    <div class="content1">
                        <div class="icon1">
                            <i class="fa-solid fa-globe fa-fade" style="color: #ffad18;"></i>
                        </div>
                        <div class="title1">Skill Development</div>
                        <p>Skill development (SEED) is an essential aspect of the placement process.Enhancing the skills of students to stay updated with the latest trends and skills demanded by the industry.
                        </p>
                    </div>
                  </div>
                  <div class="card1 m-4">
                    <div class="content1">
                        <div class="icon1">
                            <i class="fa-solid fa-eye fa-fade" style="color: #ffad18;"></i>
                        </div>
                        <div class="title1">Exposure to emerging Industries</div>
                        <p>We expose students to emerging industries, which helps them gain a better career opportunity available in their field of study.</p>
                    </div>
                  </div>
                  <div class="card1 m-4">
                    <div class="content1">
                        <div class="icon1">
                            <i class="fa-solid fa-rocket fa-fade" style="color: #ffad18;"></i>
                        </div>
                        <div class="title1">Collaboration with Industry</div>
                        <p>Collaborate with industry partners to identify the skills and competencies that are required for various job profiles. </p>
                    </div>
                  </div>
                <div class="row d-flex justify-content-center">
                  
                  <div class="card1 m-4">
                    <div class="content1">
                        <div class="icon1">
                            <i class="fa-solid fa-users fa-fade" style="color: #ffad18;" ></i>
                        </div>
                        <div class="title1">Access to Job Opportunities</div>
                        <p>The Career Development Center should provide students with access to a wide range of job opportunities across various industries and sectors. </p>
                    </div>

                  </div>
                  <div class="card1 m-4">
                    <div class="content1">
                        <div class="icon1">
                            <i class="fa-sharp fa-solid fa-paper-plane fa-fade" style="color: #ffad18;"></i>
                        </div>
                        <div class="title1">Promising future enhancement</div>
                        <p>Offering networking opportunities with industry experts, and recruiters can help students expand their professional networks in their field of interest.</p>
                    </div>
                  </div>
                  <div class="card1 m-4">
                    <div class="content1">
                        <div class="icon1">
                            <i class="fa-sharp fa-solid fa-envelope fa-fade" style="color: #ffad18;"></i>
                        </div>
                  <div class="title1">Networking Opportunities</div>
                  <p>Offering networking opportunities with industry experts, and recruiters can help students expand their professional networks in their field of interest.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--Footer Section-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2023 R&D of PSGCAS CDC-Placement Center. All Rights Reserved. 
                        <br>Images by <a href="https://www.freepik.com/" target="_parent"
                            title="Freepik.com">Freepik</a>
                            <a target="_blank" href="https://source.unsplash.com/">Unsplash</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/23176be0ae.js" crossorigin="anonymous"></script>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>