{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin : Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container-fluid">
    <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row custom-nav">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo ml-3 mt-2" href="index.html"><img src="{% static 'images/psg/psgcas.png' %}" class="mr-4" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini ml-3" href="index.html"><img src="{% static 'images/psg/psg-75.png' %}" alt="logo"/></a>
        </div>
        <div class="col navbar-menu-wrapper d-flex align-items-center justify-content-start">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                  <span class="input-group-text" id="search">
                    <i class="icon-search"></i>
                  </span>
                </div>
                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="{% static 'images/faces/face28.jpg' %}" alt="profile"/>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item">
                  <i class="ti-settings text-primary"></i>
                  Settings
                </a>
                <a class="dropdown-item">
                  <i class="ti-power-off text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face3.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face4.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <p class="sidebar-title text-center">Basic Information</p>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'registration'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Personal Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'family_details'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Family Details</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Academic Section</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schoolings'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Schooling Section</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ug_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Under Graduate</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pg_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title active">Post Graduate</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Agreements & Others</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'workloc_agreement'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Agreements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mand_docs'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Upload Documents</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'other_details'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Others</span>
            </a>
          </li>
          <p class="sidebar-title text-center">Review Details</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ack'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Acknowledgement</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'application_sts'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Application Status</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid main-panel scroll m-5" style="width: 100%;">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome <span style="color: gold;">Boopathy Ganesh K</span></h3>
                <h6 class="font-weight-normal mb-0">Here You can see your Placement Data</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 grid-margin stretch-card  d-grid align-items-center justify-content-center">
            <div class="card shadow card-profile-outline" style="width: max-content;">
              <div class="card-body">
                <div class="card-text">
                  <div class="row d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/faces/face17.jpg' %}" alt="" style="border-radius: 50%;">
                  </div>
                  <div class="row-cols-1 text-center">
                    <h2>{Admin Name}</h2>
                    <h3>{Admin ID}</h3>
                    <p>Profile: <span class="badge badge-gold font-weight-medium">Authorized</span></p>
                    <p>Status: <span class="badge badge-success font-weight-medium">Active</span></h>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4 admin-down">
                  <img src="{% static 'images/admin.png' %}" alt="people">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card">
                  <div class="card-text text-center">
                    <h3 class="m-2">Placement Statistics  <box-icon name='stats' color='#000000' size='md'></box-icon></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body text-center">
                    <p class="fs-30 mb-4">Placement Opt-Ins</p>
                    <!-- <span><box-icon name='bar-chart-alt-2' type='solid' color='#ffffff' size='md'></box-icon></span> -->
                    <div class="custom-icon m-2">
                      <img src="{% static 'images/icons/checked.svg' %}" alt="star-custom">
                    </div>
                    <h2 id="counter1">100</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body text-center">
                    <p class="fs-30 mb-4">Registrations</p>
                    <!-- <span><box-icon name='chevrons-up' color='#ffffff' size='lg'></box-icon></span> -->
                    <div class="custom-icon m-2">
                      <img src="{% static 'images/icons/man-voting.svg' %}" alt="star-custom">
                    </div>
                    <h2 id="counter2" data-count="100">0</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body text-center">
                    <p class="fs-30 mb-4">Pending Profiles</p>
                    <!-- <span><box-icon name='time-five' size='md' type='solid' color='#ffffff' ></box-icon></span> -->
                    <div class="custom-icon m-2">
                      <img src="{% static 'images/icons/hourglass.svg' %}" alt="star-custom">
                    </div>
                    <h2 id="counter3">100</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body text-center">
                    <p class="fs-30 mb-4">Drive held</p>
                    <!-- <span><box-icon name='award' color='#ffffff' size='lg'></box-icon></span> -->
                    <div class="custom-icon m-2">
                      <img src="{% static 'images/icons/medal2.svg' %}" alt="star-custom">
                    </div>
                    <h2 id="counter4">100</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card">
                  <div class="card-text text-center">
                    <h3 class="m-2">Placement Performance</h>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body text-center">
                    <p class="fs-30 mb-4">Cracked Offers</p>
                    <!-- <span><box-icon name='award' color='#ffffff' size='lg'></box-icon></span> -->
                    <div class="custom-icon m-2">
                      <img src="{% static 'images/icons/certificate.svg' %}" alt="star-custom">
                    </div>
                    <h2 id="counter5">100</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent top">
                <div class="card card-tale">
                  <div class="card-body text-center">
                    <p class="fs-30 mb-4">Dream Packages</p>
                    <!-- <span><box-icon name='star' type='solid' color='#fabb04' size='lg'></box-icon></span> -->
                    <div class="custom-icon m-2">
                      <img src="{% static 'images/icons/dreamcatcher.svg' %}" alt="star-custom">
                    </div>
                    <h3><span class="typed-text"></span><span class="cursor">&nbsp;</span></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
 function counter(id, start, end, duration) {
  let obj = document.getElementById(id),
   current = start,
   range = end - start,
   increment = end > start ? 1 : -1,
   step = Math.abs(Math.floor(duration / range)),
   timer = setInterval(() => {
    current += increment;
    obj.textContent = current;
    if (current == end) {
     clearInterval(timer);
    }
   }, step);
 }
 var registered = 100 ;
 var pendingProfiles = 100 ;
 var drivesHeld = 100 ;
 var optIns = 100 ;
 var crackedOffers = 100;
 var topDomains = 'IT';

 counter("counter1", 0, optIns, 3000);
 counter("counter2", 0, registered, 3000);
 counter("counter3", 0, pendingProfiles, 3000);
 counter("counter4", 0, drivesHeld, 3000);
 counter("counter5", 0, crackedOffers, 3000);
});
  </script>
<script>
  const typedTextSpan = document.querySelector(".typed-text");
  const cursorSpan = document.querySelector(".cursor");
  const typingDelay = 100;
  const erasingDelay = 100;
  const newTextDelay = 1000;

  let textArray = ["13 LPA - Innocap","13 LPA - Federal Bank", "12 LPA - Caterpillar"];
  let textArrayIndex = 0;
  let charIndex = 0;

  function type() {
    if (charIndex < textArray[textArrayIndex].length) {
      if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
      typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
      charIndex++;
      setTimeout(type, typingDelay);
    } else {
      cursorSpan.classList.remove("typing");
      setTimeout(erase, newTextDelay);
    }
  }

  function erase() {
    if (charIndex > 0) {
      if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
      typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1);
      charIndex--;
      setTimeout(erase, erasingDelay);
    } else {
      cursorSpan.classList.remove("typing");
      textArrayIndex++;
      if (textArrayIndex >= textArray.length) textArrayIndex = 0;
      setTimeout(type, typingDelay + 1100);
    }
  }

  function updateTextArray(newTextArray) {
    textArray = newTextArray;
    textArrayIndex = 0;
    charIndex = 0;
  }

  document.addEventListener("DOMContentLoaded", function () {
    if (textArray.length) setTimeout(type, newTextDelay + 250);
  });
</script>
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="https://unpkg.com/ityped@0.0.10"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/23176be0ae.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- <script src="{% static 'js/typer.js' %}"></script> -->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>

